
<div class="card d-flex p-3" *ngIf="property">

  <div class="card-img-wrapper"  >

    <img class="card-img-top" src="assets/images/{{property.Image}}.jpg" >
    <div class="card-details p-3">
      <form (ngSubmit)="onSubmit()" #Form="ngForm" >
        <div class="form-group col-12">
          <label for="name">Name</label>
          <input type="text" class="form-control mb-3" [(ngModel)]="property.Name" #propertyName="ngModel"
          ngModel name="propertyName" >
        </div>
        <div class="form-group" *ngIf="property?.SellRent">
          <label for="sellRent">SellRent</label>
          <input type="text" class="form-control mb-3" [(ngModel)]="property.SellRent" #propertySellRent="ngModel"
          ngModel name="propertySellRent">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control mb-3" [(ngModel)]="property.Price" #propertyPrice="ngModel"
          ngModel name="propertyPrice">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control mb-3" [(ngModel)]="property.Type"  #propertyType="ngModel"
          ngModel name="propertyType">
        </div>
        <button type="button" class="btn btn-primary" (click)="onSelectNext()">Select Next Page</button>
      </form>
    </div>


  </div>


</div>







<!-- <div *ngFor="let contact of property.Contacts">
  <p>Contact:</p>
  <p>{{contact.Id}}</p>
  <p>{{contact.Phone}}</p>
  <p>{{contact.Address}}</p>
  <p>{{contact.Name}}</p>
</div> -->


