<div class="row mb-5">

  <div class="col-4 p-0">
    <div class="card">
      <div class="card-header"><h3>Selected Property</h3></div>
    <div class="card-body" *ngIf="property">
      <app-property-card [property_index]="property" [hideIcons]="true"></app-property-card>
      <div class="btn-group mt-2 w-100">
        <button class="btn btn-primary p-3"><i class="fa-regular fa-heart"></i>  Like</button>
        <button class="btn btn-success p-3"><i class="fa-regular fa-comment"></i>  Comment</button>

      </div>
    </div>

    </div>

  </div>
  <div class="col-8 shadow-lg  bg-white" *ngIf="property">

      <div class="card-header"><h3>Property Details</h3></div>
      <div class="shadow-lg p-3 bg-white">

              <tabset class="member-tabset">

                <tab heading="Gallery">

                  <carousel [noWrap]="false" [showIndicators]="true">
                    <slide *ngFor="let slide of slides; let index = index">
                      <img [src]="slide.image" alt="image slide" class="card-gallery" >
                      <div class="carousel-caption">

                        <h4>{{slide.text}}</h4>
                      </div>
                    </slide>
                  </carousel>


                </tab>

                <tab heading="Basic Details">
                  <div class="form-group col-12 mb-3">
                    <label>Property for</label>
                  </div>



                  <div class="btn-group" btnRadioGroup *ngIf="property.SellRent === 1">
                    <label class="btn btn-outline-primary active" btnRadio=1 tabindex=0 role="button"
                     name="Sell" >Sell</label>
                    <label class="btn btn-outline-primary mx-2" btnRadio=2 tabindex=0 role="button"
                     name="Rent" [disabled]="true">Rent</label>
                  </div>

                  <div class="btn-group" btnRadioGroup *ngIf="property.SellRent === 2">
                    <label class="btn btn-outline-primary" btnRadio=1 tabindex=0 role="button"
                     name="Sell" [disabled]="true" >Sell</label>
                    <label class="btn btn-outline-primary mx-2 active" btnRadio=2 tabindex=0 role="button"
                     name="Rent" >Rent</label>
                  </div>

                  <div class="form-group col-12 mt-3">
                    <p class="mt-3">BHK</p>

                    <div class="btn-group" btnRadioGroup name="BHK">
                      <label *ngFor="let bhk of [1, 2, 3, 4]"
                        class="btn btn-outline-primary mx-2"
                        [ngClass]="{'custom-active': property.BHK === bhk}"
                        [disabled]="property.BHK !== bhk ? true : false"
                        [btnRadio]="bhk"
                        tabindex="0" role="button" name="BHK">
                        {{bhk}}
                      </label>
                    </div>
                  </div>

                  <div class="form-group col-12 mt-3">
                    <p class="mt-3">Property Type</p>

                    <div class="btn-group" btnRadioGroup >
                      <label *ngFor="let ptype of propertyTypes"
                      class="btn btn-outline-primary mx-2"
                      [ngClass]="{'custom-active': property.PType === ptype}"
                      [disabled]="property.PType !== ptype ? true : false"
                      [btnRadio]="ptype"
                        role="button" name="SellRent">{{ptype}}</label>
                    </div>
                  </div>

                  <div class="form-group col-12 mt-3">
                    <p class="mt-3">Furnish Type</p>

                    <div class="btn-group" btnRadioGroup >
                      <label *ngFor="let ftype of furnishTypes"
                      class="btn btn-outline-primary mx-2"
                      [ngClass]="{'custom-active': property.FType === ftype}"
                      [disabled]="property.FType !== ftype? true : false"
                      [btnRadio]="ftype"
                        role="button" name="SellRent">{{ftype}}</label>
                    </div>

                  </div>

                  <div class="form-group col-12 mt-3">
                    <label>Name</label>
                    <input type="text" name="Name" [(ngModel)]="property.Name" class="form-control" >
                  </div>

                  <div class="form-group col-12 mt-3">
                    <label>City</label>
                    <input type="text" name="Name" [(ngModel)]="property.City" class="form-control" >
                  </div>

                </tab>
                <tab heading="Pricing Details">

                  <div class="form-group col-12 mt-3">
                    <label *ngIf="property.SellRent === 1">Price (in USD)</label>
                    <label *ngIf="property.SellRent === 2">Rent (in USD)</label>
                    <input type="text" name="Name" [(ngModel)]="property.Price" class="form-control" >
                  </div>

                  <div class="form-group col-12 mt-3" *ngIf="property.SellRent === 2">
                    <label>Security</label>
                    <input type="text" name="Name" [(ngModel)]="property.Security" class="form-control" >
                  </div>

                  <div class="form-group col-12 mt-3" *ngIf="property.SellRent === 2">
                    <label>Maintenance</label>
                    <input type="text" name="Name" [(ngModel)]="property.Maintenance" class="form-control" >
                  </div>

                  <div class="form-group col-12 mt-3" >
                    <label>Built Area</label>
                    <input type="text" name="Name" [(ngModel)]="property.BuiltArea" class="form-control" >
                  </div>

                  <div class="form-group col-12 mt-3" >
                    <label>Carpet Area</label>
                    <input type="text" name="Name" [(ngModel)]="property.CarpetArea" class="form-control" >
                  </div>

                  <div class="form-group col-12 mt-3">
                    <label>Floor</label>
                    <input type="text" class="form-control m-2" name="Floor" [(ngModel)]="property.FloorNo">
                  </div>

                  <div class="form-group col-12 mt-3">
                    <label>Total Floors</label>
                    <input type="text" class="form-control m-2" name="Floor" [(ngModel)]="property.TotalFloor">
                  </div>

                </tab>
                <tab heading="Other Details">
                  <div class="form-group col-12 mt-3">
                    <p class="mt-3">Ready To Move</p>

                    <div class="btn-group" btnRadioGroup >
                      <label class="btn btn-outline-primary"
                      [ngClass]="{'custom-active': property.RTM === 1}"
                      [disabled]="property.RTM !== 1"
                      btnRadio=1
                      tabindex=0
                      role="button"

                      name="RTM">Yes</label>
                      <label class="btn btn-outline-primary mx-2"
                      [ngClass]="{'custom-active': property.RTM === 2}"
                      [disabled]="property.RTM !== 2"
                      btnRadio=2
                      tabindex=0
                      role="button"

                        name="RTM">No</label>
                    </div>

                    <div class="form-group col-12 mt-3" *ngIf="property.RTM === 1">
                      <label>Age Of Property</label>
                      <input type="text" class="form-control m-2" name="Floor" [(ngModel)]="property.AOP">
                    </div>

                    <div class="form-group col-12 mt-3" *ngIf="property.RTM === 2">
                      <label>Possession On</label>
                      <input type="text" class="form-control m-2" name="Floor" [(ngModel)]="property.Possession">
                    </div>

                    <div class="form-group col-12 mt-3">
                      <p class="mt-3">Gated Community</p>

                      <div class="btn-group" btnRadioGroup>
                        <label class="btn btn-outline-primary"
                        [ngClass]="{'custom-active': property.Gated === 1}"
                        [disabled]="property.Gated !== 1"
                        btnRadio=1
                        tabindex=0
                        role="button"
                        name="Gated">Yes</label>
                        <label class="btn btn-outline-primary mx-2"
                        [ngClass]="{'custom-active': property.Gated === 2}"
                        [disabled]="property.Gated !== 2"
                        btnRadio=2
                        tabindex=0
                        role="button"
                          name="Gated">No</label>
                      </div>
                    </div>


                    <div class="form-group col-12 mt-3">
                      <p class="mt-3">Main Entrance</p>

                      <div class="btn-group" btnRadioGroup >
                        <label class="btn btn-outline-primary"
                        [ngClass]="{'custom-active': property.MainEntrance === '1' || property.MainEntrance == 'East'}"
                        [disabled]="true"
                        btnRadio=1
                        tabindex=0
                        role="button"
                          name="Entrance">East</label>

                        <label class="btn btn-outline-primary mx-2"
                        [ngClass]="{'custom-active': property.MainEntrance === '2' || property.MainEntrance == 'West'}"
                        [disabled]="true"
                        btnRadio=2
                        tabindex=0
                        role="button"
                          name="Entrance">West</label>

                        <label class="btn btn-outline-primary"
                        [ngClass]="{'custom-active': property.MainEntrance === '3' || property.MainEntrance == 'South'}"
                        [disabled]="true"
                        btnRadio=3
                        tabindex=0
                        role="button"
                          name="Entrance">South</label>

                        <label class="btn btn-outline-primary mx-2"
                        [ngClass]="{'custom-active': property.MainEntrance === '4' || property.MainEntrance == 'North'}"
                        [disabled]="true"

                        btnRadio=4
                        tabindex=0
                        role="button"
                          name="Entrance">North</label>

                      </div>
                    </div>

                    <div class="form-group col-12 mt-3">
                      <label>Description</label>
                      <textarea type="text" class="form-control m-2" [(ngModel)]="property.Description" rows="6"></textarea>
                    </div>

                  </div>
                </tab>

            </tabset>

      </div>
  </div>
</div>











