<mat-dialog-content class="custom-dialog-content">
  <h1 class="dialog-title">Files</h1>
  <div *ngFor="let file of fileCredentials" class="file-item">
    <h2 class="file-name">{{ file.name }}</h2>
    <p class="file-details">
       Type: {{ file.type }} | Size: {{ file.size }} <br>
       Path: {{file.url}} 
    </p>
    
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center" class="dialog-actions">
  <button mat-button color="warn" (click)="closeDialog()">Close</button>
  <button mat-button color="accent" (click)="uploadPhotos()">Ok</button>
</mat-dialog-actions>