Frontend/src/assets/image/house_default.jpg
Frontend/src/assets/image/prop-1.jpg
Frontend/src/assets/image/prop-2.jpg
Frontend/src/assets/image/prop-3.jpg
Frontend/src/assets/image/prop-4.jpg
Frontend/src/assets/image/prop-5.jpg
Frontend/src/assets/image/prop-6.jpg
Frontend/src/assets/image/prop-7.jpg
Frontend/src/assets/image/prop-8.jpg
Frontend/src/assets/image/prop-9.jpg
Frontend/src/assets/image/prop-10.jpg
WebAPI/bin/
WebAPI/obj/