<div class="row mb-5">
  <div class="col-9 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List Your Property</h3>
      </div>

      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>

              <tab heading="Basic Info" formGroupName="BasicInfo">

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">I want to</p>

                  <div class="btn-group" btnRadioGroup formControlName="sellRent">
                    <label class="btn btn-outline-primary" btnRadio=1 tabindex=0 role="button"
                      name="sellRent" (click)="updateSellValidators()">Sell</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex=0 role="button"
                      name="sellRent" (click)="updateRentValidators()">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="sellRent.invalid && nextClicked">
                    Please select sell or rent
                  </div>
                </div>


                <div class="form-group col-12 mt-3">
                  <p class="mt-3">BHK</p>

                  <div class="btn-group" btnRadioGroup formControlName="bhk"  name="bhk">
                    <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary" [btnRadio]="bhk" (click)="propertyView.bhk = bhk"
                      tabindex="0" role="button" name="BHK">{{bhk}}</label>
                  </div>
                  <div class="error-block" *ngIf="bhk.invalid && nextClicked">
                    Please Select BHK
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Property Type</p>

                  <div class="btn-group" btnRadioGroup formControlName="propertyType">
                    <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary" 
                    [btnRadio]="ptype.id"
                      role="button" 
                      (click)="propertyView.propertyType = ptype.name"
                      name="sellRent">{{ptype.name}}</label>
                  </div>
                  <div class="error-block" *ngIf="propertyType.invalid && nextClicked">
                    Please select Property Type
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Furnish Type</p>

                  <div class="btn-group" btnRadioGroup formControlName="furnishingType">
                    <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary" [btnRadio]="ftype.id"
                      role="button" (click)="propertyView.furnishingType = ftype.name" name="sellRent">{{ftype.name}}</label>
                  </div>
                  <div class="error-block" *ngIf="furnishingType.invalid && nextClicked">
                    Please select furnishing type
                  </div>
                </div>

                <div class="form-group col-12 mt-3">
                  <label for="name">In Building/Society/Project</label>
                  <input type="text" class="form-control" formControlName="name" #propName
                  (ngModelChange)="propertyView.name = propName.value">
                  <span *ngIf="name.invalid && (name.touched || nextClicked)" class="error-block">
                    <span *ngIf="name.hasError('required')">Please select building, society or project name</span>
                    <span *ngIf="!name.errors?.['required'] && name.errors?.['noDigitsOrNumbers']">Must not contain numbers</span>
                  </span>
                </div>

            

                <div class="form-group col-12 mt-3">
                  <label>City</label>
                  <input
                    #City
                    class="form-control"
                    list="datalistOptions"
                    id={{city}}
                    placeholder="Type to search..."
                    (input)="updateCityAndCountry(City.value)"
                    formControlName="city"
                  />
                  <datalist id="datalistOptions">
                    <option *ngFor="let city of cityList" [value]="city.name + ', ' + city.country"> <!--I NEEED TO GET THE city.id from that value or WHATEVER -->
                  
                    </option>
                  </datalist>
                  <div class="error-block" *ngIf="city.invalid && (nextClicked || city.touched)">
                    Please select City
                  </div>
                </div>
                
                

                <div class="form-group col-12">
                  <button type="button" (click)="selectTab(1,BasicInfo.valid)"
                    class="btn btn-primary form-control mt-3">Next</button>
                </div>
              </tab>


              <tab heading="Pricing and Area" formGroupName="PriceInfo">

                <div class="form-group col-12 mt-3">
                  <label *ngIf="sellRent.value == '1'">Price (in USD)</label>
                  <label *ngIf="sellRent.value == '2'">Rent (in USD)</label>
                  <input type="text" class="form-control" formControlName="price" #propPrice
                         (keyup)="propertyView.price = +propPrice.value">
                  <div class="error-block" *ngIf="price.invalid && (nextClicked || price.touched)">
                    <ng-container *ngIf="price.errors?.['required']">
                      Please select
                      <span *ngIf="sellRent.value == 1; else ShowRent">Price</span>
                      <ng-template #ShowRent>Rent</ng-template>
                    </ng-container>
                    <ng-container *ngIf="!price.errors?.['required'] && price.errors?.['numeric']">
                      <span *ngIf="sellRent.value == 1">Price must be a number</span>
                      <span *ngIf="sellRent.value == 2">Rent must be a number</span>
                    </ng-container>
                  </div>
                </div>
                <div *ngIf="sellRent.value == '2'">

                  <div class="form-group col-12 mt-3">
                    <label>Security (in USD)</label>
                    <input type="text" class="form-control" formControlName="security">
                    <span *ngIf="security.invalid && (security.touched || nextClicked)" class="error-block">
                      <span *ngIf="security.errors?.['required']">Please insert Security</span>
                      <span *ngIf="!security.errors?.['required'] && security.errors?.['numeric']">Security must be a number</span>
                      <span *ngIf="!security.errors?.['required'] && !security.errors?.['numeric'] && security.errors?.['min']">Security must be 0 or greater</span>
                    </span>
                  </div>
                  
                  <div class="form-group col-12 mt-3">
                    <label>Maintenance (in USD)</label>
                    <input type="text" class="form-control" formControlName="maintenance">
                    <span *ngIf="maintenance.invalid && (maintenance.touched || nextClicked)" class="error-block">
                      <span *ngIf="maintenance.errors?.['required']">Please insert Maintenance</span>
                      <span *ngIf="!maintenance.errors?.['required'] && maintenance.errors?.['numeric']">Maintenance must be a number</span>
                      <span *ngIf="!maintenance.errors?.['required'] && !maintenance.errors?.['numeric'] && maintenance.errors?.['min']">Maintenance must be 0 or greater</span>
                    </span>
                  </div>

                </div>


                <div class="form-group col-12 mt-3">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="builtArea" #propBuiltArea
                  (keyup)="propertyView.builtArea = +propBuiltArea.value"
                  >
                  <span *ngIf="builtArea.invalid && (builtArea.touched || nextClicked)" class="error-block">

                    <span *ngIf="builtArea.hasError('required')">
                      Please enter Built Area
                    </span>

                    <span *ngIf="!builtArea.hasError('required') && builtArea.hasError('numeric')">
                      Built Area must be a number
                    </span>
        
                    <span *ngIf="builtArea.hasError('min')">
                      BuiltArea must be atleast 1 sqr
                    </span>
        
                    <span *ngIf="builtArea.hasError('max')">
                      BuiltArea must be lower than 500 sqr
                    </span>
                  </span>
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" formControlName="carpetArea">
                  <span *ngIf="carpetArea.invalid && (carpetArea.touched || nextClicked)" class="error-block">

                    <span *ngIf="carpetArea.hasError('required')">
                      Please enter Carpet Area
                    </span>

                    <span *ngIf="!carpetArea.hasError('required') && carpetArea.hasError('numeric')">
                      Carpet Area must be a number
                    </span>
        
                    <span *ngIf="carpetArea.hasError('min')">
                      Carpet Area must be atleast 1 sqr
                    </span>
        
                    <span *ngIf="carpetArea.hasError('max')">
                      Carpet Area must be lower than 500 sqr
                    </span>
                  </span>
                </div>

                <div class="form-group col-12">
                  <button type="button" (click)="selectTab(0,PriceInfo.valid)"
                    class="btn btn-primary form-control mt-3">Back</button>
                  <button type="button" (click)="selectTab(2,PriceInfo.valid)"
                    class="btn btn-primary form-control mt-3">Next</button>
                </div>

              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12 mt-3">
                  <label>Floor</label>
                  <input type="text" class="form-control" formControlName="floorNo">
                  <span *ngIf="floorNo.invalid && (floorNo.touched || nextClicked)" class="error-block">
                    <span *ngIf="floorNo.hasError('required')">
                      Please enter Floor
                    </span>
                    <span *ngIf="!floorNo.hasError('required') && floorNo.hasError('numeric')">
                      Floor must be a number
                    </span>
                  </span>
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" formControlName="totalFloors">
                  <span *ngIf="totalFloors.invalid && (totalFloors.touched || nextClicked)" class="error-block">
                    <span *ngIf="totalFloors.hasError('required')">
                      Please enter Total Floors
                    </span>
                    <span *ngIf="!totalFloors.hasError('required') && totalFloors.hasError('numeric')">
                      Total Floors must be a number
                    </span>
                  </span>
                </div>

                <div class="form-group col-12 mt-3">
                  <label>Phone Number</label>
                  <input type="text" class="form-control" formControlName="phoneNumber">
                  <span *ngIf="phoneNumber.invalid && (phoneNumber.touched || nextClicked)" class="error-block">
                    <span *ngIf="phoneNumber.hasError('required')">
                      Please enter Phone Number
                    </span>
                    <span *ngIf="!phoneNumber.hasError('required') && phoneNumber.hasError('numeric')">
                      Phone Number must be numeric format
                    </span>
                    <span *ngIf="!phoneNumber.hasError('required') && !phoneNumber.hasError('numeric') && phoneNumber.hasError('maxlength')">
                      Phone Number cannot be longer than 15 digits
                    </span>
                  </span>
                </div>

                

                <div class="form-group col-12 mt-3">
                  <label>Address</label>
                  <input id="autocomplete" type="text" class="form-control" #addressField formControlName="address">
                  
                  <div class="error-block" *ngIf="address.invalid && (nextClicked || address.touched)">
                    Please insert a address
                  </div>

                </div>

                <div class="form-group col-12 mt-3">
                <google-map
                  height="400px"
                  width="100%"
                  [center]="mapCenter"
                  [zoom]="mapZoom"
                  (mapClick)="onMapClick($event)"
                  
                >
                  <map-marker
                    [position]="markerPosition"
                    [options]="advancedMarker"
                  ></map-marker>
                </google-map>
              </div>
                  
                <div class="form-group col-12 mt-3" hidden>
                  <label>Latitude</label>
                  <input class="form-control" type="text" formControlName="latitude" readonly>
                
                  <label>Longitude</label>
                  <input class="form-control" type="text" formControlName="longitude" readonly>
                </div>
                      


                <div class="form-group col-12">
                  <button type="button" (click)="selectTab(1,AddressInfo.valid)"
                    class="btn btn-primary form-control mt-3">Back</button>
                  <button type="button" (click)="selectTab(3,AddressInfo.valid)"
                    class="btn btn-primary form-control mt-3">Next</button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Ready To Move</p>

                  <div class="btn-group" btnRadioGroup formControlName="readyToMove">
                    <label class="btn btn-outline-primary" btnRadio=false tabindex=0 role="button" 
                      (click)="propertyView.readyToMove = false" 
                    name="readyToMove">No</label>
                    <label class="btn btn-outline-primary" btnRadio=true tabindex=0 role="button"
                     (click)="propertyView.readyToMove = true" 
                    name="readyToMove" >Yes</label>
                    
                  </div>
                  <div class="error-block" *ngIf="readyToMove.invalid && nextClicked">
                    Please select ready to move
                  </div>
                </div>



               


                <div class="form group col-3 mt-3">
                  <label *ngIf="propertyView.readyToMove">Enstablishment Date :</label>
                  <label *ngIf="!propertyView.readyToMove">Possesion Date : </label>
                  <input type="text" placeholder="Datepicker" class="form-control" formControlName="estPossessionOn" 
                  #PossessionOn
                  (ngModelChange)="propertyView.estPossessionOn = PossessionOn.value"
                  bsDatepicker
                    [bsConfig]="{containerClass : 'theme-dark-blue', dateInputFormat : 'MMM DD, YYYY' }">
                    
                    <div class="error-block" *ngIf="estPossessionOn.invalid && (nextClicked || estPossessionOn.touched)">
                      Please select a date
                    </div>
                </div>


                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Gated Community</p>

                  <div class="btn-group" btnRadioGroup formControlName="gated">
                    <label class="btn btn-outline-primary" btnRadio=true tabindex=0 role="button" name="gated">Yes</label>
                    <label class="btn btn-outline-primary" btnRadio=false tabindex=0 role="button"
                      name="gated">No</label>
                  </div>
                  <div class="error-block" *ngIf="gated.invalid && nextClicked">
                    Please select gated
                  </div>

                </div>

                <div class="form-group col-12 mt-3">
                  <p class="mt-3">Main Entrance</p>

                  <div class="btn-group" btnRadioGroup formControlName="mainEntrance">
                    <label class="btn btn-outline-primary" btnRadio=1 tabindex=0 role="button"
                      name="Entrance">East</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex=0 role="button"
                      name="Entrance">West</label>
                    <label class="btn btn-outline-primary" btnRadio=3 tabindex=0 role="button"
                      name="Entrance">South</label>
                    <label class="btn btn-outline-primary" btnRadio=4 tabindex=0 role="button"
                      name="Entrance">North</label>
                  </div>
                  <div class="error-block" *ngIf="mainEntrance.invalid && nextClicked">
                    Please select Main Entrance
                  </div>

                </div>

                <div class="form-group col-12 mt-3">
                  <label>Description</label>
                  <textarea type="text" class="form-control" formControlName="description" rows="6"></textarea>
                </div>

                <div class="form-group col-12 mt-3">
                  <button type="button" (click)="selectTab(2, OtherInfo.valid)"
                    class="btn btn-primary form-control">Back</button>
                  <button type="button" (click)="selectTab(4, OtherInfo.valid)"
                    class="btn btn-primary form-control mt-3">Next</button>
                </div>
              </tab>

              <tab heading="Photos" formGroupName="PhotosInfo">
                <div class="form-group col-12 p-3">

            
                  <div class="file-input-container">
                    <input id="fileInput" 
                    type="file"   
                    class="form-control"
                    formControlName="photos"
                    accept="image/jpeg" (change)="onPhotoSelected($event)" multiple #inputFile>
                    
          

                    <div class="error-block" *ngIf="photos.invalid && (nextClicked || photos.touched)">
                          Please insert a photo
                    </div>
                  </div>
                  
                  
                  
              
                  
                </div>

                <div class="form-group col-12 mt-3 ">
                  <button type="button" (click)="selectTab(3,true)"
                    class="btn btn-primary form-control">Back</button>
                  <button type="reset" class="btn btn-primary form-control mt-3">Cancel</button>
                  <button type="submit" class="btn btn-primary form-control mt-3">Save</button>
                </div>

              </tab>

            </tabset>
          </div>





        </form>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card-header">
      <h3>Your Property Preview</h3>
    </div>
    <div class="shadow-lg p-3 bg-white">
      <div class="card">
        <div class="card-img-wrapper">
          <img *ngIf="!propertyView.photo"  class="card-img-top" src="../../../assets/images/house_default.jpg">
          <img *ngIf="propertyView.photo" class="card-img-top" src="{{propertyView.photo}}">
          
      
        </div>
        <div class="card-body p-1">
          <h1 class="mb-0"> {{propertyView.bhk}} BHK {{propertyView.propertyType}} </h1>
      
          in {{propertyView.name}}
          <span *ngIf="propertyView.name">|</span>
          {{propertyView.city}}, {{propertyView.country}}
        
          <h6  class="mt-2">{{propertyView.furnishingType}}
          <span *ngIf="propertyView.furnishingType !== 'Unfurnished'">Furnished</span>
      
           <span *ngIf="propertyView.readyToMove"> | Ready To Move</span>
          <span *ngIf="!propertyView.readyToMove"> | Possesion : {{propertyView.estPossessionOn | date}}</span>
         
          </h6>
          
          <hr class="mt-0 mb-2">
      
          <h6 class="mb-0" >Price: <span class="font-highlight">{{propertyView.price}} USD.</span> |
            Area:  <span class="font-highlight">{{propertyView.builtArea}} Sq Ft </span> </h6>
        </div>
      </div>
    </div>

  </div>
</div>
