.file-input-container {
    position: relative;
  }

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    background-color: #0069d9;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .custom-file-upload span {
    font-size: 16px;
    font-weight: bold;
  }

  .custom-file-upload:hover {
    background-color: #0056b3;
  }

  .custom-file-upload:active {
    background-color: #003d80;
  }


  .card{
    min-height: 510px;
  }
  .card-body h1{
    font-family: 'Times New Roman', Times, serif, bold;
    color: #0069d9;
  }
  
  .font-highlight{
    font-style:  italic;
    color: red;
  }
  
  .card-img-wrapper {
    overflow: hidden;
    position: relative;
  }
  
  .card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 300px;
    opacity: 0.7;
  }
  
  .card img {
    transform: scale(1, 1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 300px;
  }
  
  .member-icons {
    position: absolute;
    bottom: -10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
  }
  
  .card-img-wrapper:hover .member-icons{
    bottom: 0;
    opacity: 1;
  }
  
  .animate{
    transition: all 0.3s ease-out;
  }
  