

mat-dialog-content {
    /* Adjust the maximum height based on viewport */
    height: calc(100vh - 400px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-area:first-child{
    margin-top: auto;
}

.chat-bubble-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble-container.sender{
    justify-content: flex-end;
}

.chat-bubble-container.sender > .chat-bubble{
    background: #007bff;
    color: white;
}


.chat-date.sender{
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: #ffffff;
}

.chat-date{
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: #000000;
}

.chat-bubble{
    background: #c5d6e9;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    width: fit-content;
    min-width: 150px;
    position: relative;
}

mat-form-field{
    width: 100%;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header-content {
    display: flex;
    align-items: center;
    color: white;
}


.modal-header-content > img {
    margin-right: 10px;
}

.modal-header .modal-title {
    margin-left: 0;
}

