mat-dialog-content {
    /* Existing styles */
    height: calc(100vh - 400px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(14, 97, 145, 0.05);

    /* Scrollbar styles for WebKit browsers (Chrome, Safari, newer versions of Edge) */
    &::-webkit-scrollbar {
        width: 8px; /* Slightly thinner */
    }

    &::-webkit-scrollbar-track {
        background: transparent; /* Invisible track */
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2); /* Dark gray with high transparency */
        border-radius: 4px;
    }

    /* Hover state for the thumb */
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.3); /* Slightly darker on hover */
    }

    /* Scrollbar styles for Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/* Ensure the scrollbar is only visible when scrolling */
mat-dialog-content:not(:hover)::-webkit-scrollbar-thumb {
    background-color: transparent;
}

mat-dialog-content:not(:hover) {
    scrollbar-color: transparent transparent;
}

mat-dialog-actions{
    background-color: rgba(14, 97, 145, 0.05);;
}

.chat-area:first-child{
    margin-top: auto;
}

.chat-bubble-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble-container.sender{
    justify-content: flex-end;
}

.chat-bubble-container.sender > .chat-bubble{
    background: #007bff;
    color: white;
}


.chat-date.sender{
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: #ffffff;
}

.chat-date{
    position: absolute;
    bottom: 2px;
    right: 8px;
    font-size: 0.7rem;
    color: #000000;
}

.chat-bubble{
    background: #c5d6e9;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 100px;
    margin-bottom: 16px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 8px;
    width: fit-content;
    min-width: 150px;
    position: relative;
}

mat-form-field{
    width: 100%;
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header-content {
    display: flex;
    align-items: center;
    color: white;
}


.modal-header-content > img {
    margin-right: 10px;
}

.modal-header .modal-title {
    margin-left: 0;
}

