<div class="modal-header p-3" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="modal-header-content">
    <img width="50" height="50" class="rounded-circle mat-elevation-z5" *ngIf="!userCard.photo" src="/assets/user_images/user_default.jpg">
    <img width="50" height="50" class="rounded-circle mat-elevation-z5" *ngIf="userCard.photo" src="{{thumbnailFolder + userCard.photo}}">
    <h4 class="modal-title">{{userCard.username}}</h4>
  </div>
  <button type="button" class="btn btn-danger btn-sm" (click)="closeEditModal()">
    <i class="fa-solid fa-x text-danger"></i>
  </button>
</div>
<mat-dialog-content>
  
    <div class="chat-area">
      <div *ngFor="let message of messages"  class="chat-bubble-container" [ngClass]="{ 'sender': message.senderId === store.authService.decodeToken()?.nameid }">
        <div class="chat-bubble">
          {{message.text}}
          <span class="chat-date" [ngClass]="{ 'sender': message.senderId === store.authService.decodeToken()?.nameid }">{{message.sentDate}}</span>
        </div>
      </div>
      <div #endOfChat></div> 
    </div>
    
 
  
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <mat-form-field appearance="outline">
    <input matInput [formControl]="messageControl" placeholder="Enter your message..." (keydown.enter)="sendMessage()"/>
    <button mat-icon-button matSuffix (click)="sendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </mat-form-field>
</mat-dialog-actions>