
<div class="modal-header p-3">
    <h4 class="modal-title pull-left">Editing Property</h4>
     <button type="button" class="btn btn-danger btn-sm" (click)="closeEditModal()">
        <i class="fa-solid fa-x text-danger"></i>
     </button>
</div>
<mat-dialog-content>
  
    <form (submit)="onSubmit()" [formGroup]="editPropertyForm">
      <div class="top-panel">
        <tabset class="member-tabset">

          <tab heading="Basic Info" formGroupName="BasicInfo">

            <div class="form-group col-12 mt-3">
              <p class="mt-3">Purchase / Rent</p>

              <div class="btn-group" btnRadioGroup formControlName="sellRent">

                <label class="btn btn-outline-primary" btnRadio=1 tabindex=0 role="button"
                  name="sellRent"(click)="this.property.sellRent = 1;">Sell</label>

                <label class="btn btn-outline-primary" btnRadio=2 tabindex=0 role="button"
                  name="sellRent" (click)="this.property.sellRent = 2">Rent</label>

              </div>
            </div>

            <div class="form-group col-12 mt-3">
              <p class="mt-3">BHK</p>
              <div class="btn-group" btnRadioGroup formControlName="bhk"  name="bhk">
                <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary" [btnRadio]="bhk" 
                  tabindex="0" role="button" name="BHK" (click)="this.property.bhk = bhk">{{bhk}}</label>
              </div>
            </div>

            <div class="form-group col-12 mt-3">
              <p class="mt-3">Property Type</p>
  
              <div class="btn-group" btnRadioGroup formControlName="propertyType">
                <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary" 
                [btnRadio]="ptype.id"
                  role="button" 
                  name="propertyType"
                  (click)="this.property.propertyTypeId = ptype.id; this.property.propertyType = ptype.name;">{{ptype.name}}</label>
              </div>
                    
            </div>

            <div class="form-group col-12 mt-3">
              <p class="mt-3">Furnishing Type</p>
  
              <div class="btn-group" btnRadioGroup formControlName="furnishingType">
                <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary" [btnRadio]="ftype.id"
                  role="button" name="sellRent" 
                  (click)="this.property.furnishingTypeId = ftype.id; this.property.furnishingType = ftype.name;">{{ftype.name}}</label>
              </div>
  
            </div>

            <div class="form-group col-12 mt-3">
              <label for="name">In Building/Society/Project</label>
              <input type="text" class="form-control" formControlName="name" #propName
                (input)="this.property.name = propName.value">
              <div class="error-block" *ngIf="name.invalid && name.touched">
                <div *ngIf="name.errors?.['required']">
                  You cannot leave name empty
                </div>
                <div *ngIf="name.errors?.['noDigitsOrNumbers']">
                  Name cannot contain digits or numbers
                </div>
              </div>
            </div>

            <div class="form-group col-12 mt-3">
              <label>City</label>
              <select #City
                (ngModelChange)="onCityChange(City.options[City.options.selectedIndex].text, +City.value)"
                class="form-control"
                formControlName="city"
              >
              <option *ngFor="let city of cityList"
                value={{city.id}} >
                {{city.name}}, {{city.country}}
              </option>
              
              </select>
            </div>

          </tab>
          
          <tab heading="Pricing and Area" formGroupName="PriceInfo">

            <div class="form-group col-12 mt-3">
              <label *ngIf="this.property.sellRent === 1">Price (in USD)</label>
              <label *ngIf="this.property.sellRent === 2">Rent (in USD)</label>
              <input type="text" class="form-control" formControlName="price" #propPrice
                (input)="this.property.price = +propPrice.value">
              <div class="error-block" *ngIf="price.invalid && price.touched">
                <div *ngIf="price.errors?.['required']">
                  You cannot leave Price empty
                </div>
                <div *ngIf="price.errors?.['numeric']">
                  Please enter a valid number for Price
                </div>
              </div>
            </div>

            <div *ngIf="property.sellRent === 2">

              <div class="form-group col-12 mt-3">
                <label>Security (in USD)</label>
                <input type="text" class="form-control" formControlName="security" #propSecurity
                (keyup)="this.property.security= +propSecurity.value">

                <div class="error-block" *ngIf="security.invalid && security.touched">
                  <div *ngIf="security.errors?.['required']">
                    You cannot leave Security empty
                  </div>
                  <div *ngIf="security.errors?.['numeric']">
                    Please enter a valid number for Security
                  </div>
                </div>
               
              </div>

              <div class="form-group col-12 mt-3">
                <label>Maintenance (in USD)</label>
                <input type="text" class="form-control" formControlName="maintenance" #propMaintenance
                (keyup)="this.property.maintenance = +propMaintenance.value">
                <div class="error-block" *ngIf="maintenance.invalid && maintenance.touched">
                  <div *ngIf="maintenance.errors?.['required']">
                    You cannot leave Maintenance empty
                  </div>
                  <div *ngIf="maintenance.errors?.['numeric']">
                    Please enter a valid number for Maintenance
                  </div>
                </div>
              </div>

            </div>

            <div class="form-group col-12 mt-3">
              <label>Built Area (in Sqr Feet)</label>
              <input type="text" class="form-control" formControlName="builtArea" #propBuiltArea
                    (keyup)="this.property.builtArea= +propBuiltArea.value;"
              >
              <div class="error-block" *ngIf="builtArea.invalid && builtArea.touched">
                <div *ngIf="builtArea.errors?.['required']">
                  You cannot leave BuiltArea empty
                </div>
                <div *ngIf="builtArea.errors?.['numeric']">
                  Please enter a valid number for BuiltArea
                </div>
              </div>
            </div>

            <div class="form-group col-12 mt-3">
              <label>Carpet Area(in Sqr Feet)</label>
              <input type="text" class="form-control" formControlName="carpetArea" #propCarpetArea
                    (keyup)="this.property.carpetArea = +propCarpetArea.value">
              <div class="error-block" *ngIf="carpetArea.invalid && carpetArea.touched">
                <div *ngIf="carpetArea.errors?.['required']">
                  You cannot leave CarpetArea empty
                </div>
                <div *ngIf="carpetArea.errors?.['numeric']">
                  Please enter a valid number for CarpetArea
                </div>
              </div>                      
            </div>

          </tab>

          <tab heading="Address" formGroupName="AddressInfo">
            
              <div class="form-group col-12 mt-3">
                <label>Floor</label>
                <input type="text" class="form-control" formControlName="floorNo" #propFloor
                (keyup)="this.property.floorNo = propFloor.value">
                <div class="error-block" *ngIf="floorNo.invalid && floorNo.touched">
                  <div *ngIf="floorNo.errors?.['required']">
                    You cannot leave Floor empty
                  </div>
                  <div *ngIf="floorNo.errors?.['numeric']">
                    Please enter a valid number for Floor
                  </div>
                </div> 
              </div>

              <div class="form-group col-12 mt-3">
                <label>Total Floor</label>
                <input type="text" class="form-control " formControlName="totalFloors" #propTotalFloor
                (keyup)="this.property.totalFloors = propTotalFloor.value">
                <div class="error-block" *ngIf="totalFloors.invalid && totalFloors.touched">
                  <div *ngIf="totalFloors.errors?.['required']">
                    You cannot leave Total Floors empty
                  </div>
                  <div *ngIf="totalFloors.errors?.['numeric']">
                    Please enter a valid number for Total Floors
                  </div>
                </div> 
              </div>

              <div class="form-row mt-3 d-flex align-items-end">
                  <div class="form-group col-11">
                      <label>Address</label>
                      <input id="placesAutocomplete" type="text" class="form-control" formControlName="address" #propAddress
                      (keyup)="this.property.address = propAddress.value;">
                      
                  </div>

                  <div class="form-group col-1">
                      <button type="button" class="btn btn-primary" style="margin-left: 12px;" (click)="openMapsModal()">
                          <i class="fa-solid fa-location-pin"></i>
                      </button>
                  </div>                   
              </div>


              <div class="form-group col-12 error-block" *ngIf="address.invalid &&  address.touched">
                You cannot leave address empty
              </div>

              <div class="d-flex justify-content-between mt-3">
                  

                <div class="form-group col-5"> 
                  <label>Latitude</label>
                  <input type="text" class="form-control" formControlName="latitude" readonly>
                </div>
                
                <div class="form-group col-5">
                  <label>Longitude</label>
                  <input type="text" class="form-control" formControlName="longitude" readonly>
                </div> 

                  
                  
              </div>
            
            <div class="form-group col-12 mt-3">
              <label>Phone Number</label>
              <input type="text" class="form-control" formControlName="phoneNumber" #propPhoneNumber
              (keyup)="this.property.phoneNumber = propPhoneNumber.value;">
              <div class="error-block" *ngIf="phoneNumber.invalid && phoneNumber.touched">
                <div *ngIf="phoneNumber.errors?.['required']">
                  You cannot leave Phone Number empty
                </div>
                <div *ngIf="phoneNumber.errors?.['numeric']">
                  Please enter a valid number for Phone Number
                </div>
              </div> 
            </div>
            
            

          </tab>

          <tab heading="Other Details" formGroupName="OtherInfo">

            <div class="form-group col-12 mt-3">
              <p class="mt-3">Ready To Move</p>
                <div class="btn-group" btnRadioGroup formControlName="readyToMove">
                  <label class="btn btn-outline-primary" btnRadio="false" tabindex=0 role="button" 
                  (click)="this.property.readyToMove= false;" 
                  name="readyToMove">No</label>
  
                  <label class="btn btn-outline-primary" btnRadio="true" tabindex=0 role="button"
                  (click)="this.property.readyToMove= true;" 
                  name="readyToMove" >Yes</label>
  
                </div>
            </div>

            <div class="form-group col-12 mt-3">
              <label *ngIf="this.property.readyToMove">Enstablishment Date :</label>
              <label *ngIf="!this.property.readyToMove">Possesion Date : </label>
              <input type="text" placeholder="Datepicker" class="form-control" formControlName="estPossessionOn" 
                #PossessionOn
                    (ngModelChange)="this.property.estPossessionOn= PossessionOn.value"
                    bsDatepicker
                      [bsConfig]="{containerClass : 'theme-dark-blue', dateInputFormat : 'MMM DD, YYYY' }">
               
                      
              <div class="error-block" *ngIf="estPossessionOn.invalid &&  estPossessionOn.touched && this.property.readyToMove">
                  You cannot leave Enstablishment Date empty
              </div>
              <div class="error-block" *ngIf="estPossessionOn.invalid &&  estPossessionOn.touched && !this.property.readyToMove">
                You cannot leave Possession Date empty
              </div>        
            </div>

            <div class="form-group col-12 mt-3">
              <p class="mt-3">Gated Community</p>
  
              <div class="btn-group" btnRadioGroup formControlName="gated">
                <label class="btn btn-outline-primary" btnRadio="true" tabindex=0 role="button" name="gated"
                (click)="this.property.gated = true">Yes</label>
                <label class="btn btn-outline-primary" btnRadio="false" tabindex=0 role="button"
                  name="gated" (click)="this.property.gated = false">No</label>
              </div>
            </div>

            <div class="form-group col-12 mt-3">
              <p class="mt-3">Main Entrance</p>
  
              <div class="btn-group" btnRadioGroup formControlName="mainEntrance">
                <label class="btn btn-outline-primary" btnRadio=1 tabindex=0 role="button" (click)="
                  this.property.mainEntrance = 1;"
                  name="Entrance">East</label>
                <label class="btn btn-outline-primary" btnRadio=2 tabindex=0 role="button"  (click)="
                this.property.mainEntrance = 2;"
                  name="Entrance">West</label>
                <label class="btn btn-outline-primary" btnRadio=3 tabindex=0 role="button"  (click)="
                this.property.mainEntrance = 3;"
                  name="Entrance">South</label>
                <label class="btn btn-outline-primary" btnRadio=4 tabindex=0 role="button"  (click)="
                this.property.mainEntrance = 4;"
                  name="Entrance">North</label>
              </div>
            </div>

            <div class="form-group col-12 mt-3">
              <label>Description</label>
              <textarea type="text" class="form-control" formControlName="description" rows="5" #propDescription
              (keyup)="this.property.description = propDescription.value"
              ></textarea>
              <div class="error-block" *ngIf="description.invalid && description.touched">
                You cannot leave description empty
              </div>
            </div>  

          </tab>

        </tabset>
      </div>
  
    </form>
  
  
</mat-dialog-content>
<mat-dialog-actions align="end" style="margin-right: 20px;">
    <button type="submit" class="btn btn-success me-3" (click)="onSubmit()">Save</button>
    <button type="button" class="btn btn-danger" (click)="closeEditModal()">
      Close
    </button>
  </mat-dialog-actions>


