  .container {
    border-radius: 2px;
    margin-top: 0;
    color: rgb(165, 236, 248);
    background: rgb(233, 120, 120);
  }
  
  .example-tree-invisible {
    display: none;
  }
  
  .property-card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    width: 350px; 
    height: 100%; 
    margin-left: 0; 
  }

  
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  