
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand " style="margin-left: 20px;" routerLink="">
    <i class="fa-solid fa-house"></i>
    HSPA</a>

 

  <div >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" routerLink="">Buy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/rent-property">Rent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-property">List Property (Free)</a>
      </li>
    </ul>
  </div>



  <div class="user-bar d-flex" style="margin-left: auto; margin-right: 50px;" *ngIf="loggedIn ; else noAccount">
    
    <div class="dropdown notification-dropdown" dropdown *ngIf="matBadger > 0 ; else noNotifications">
      <button mat-icon-button class="me-2"   aria-label="Notifications" dropdownToggle (click)="false">
        <mat-icon style="color: white;"  [matBadge]="matBadger" aria-hidden="false" >notifications</mat-icon>
      </button>
      <div class="dropdown-menu notification-menu" *dropdownMenu>
        <div *ngFor="let notification of newNotifications; let i = index;" class="dropdown-item" routerLink="/user/messages">
          <div class="notification-avatar">
            <img class="user-image" *ngIf="notification.userPicture; else noPicture" 
              [src]="thumbnailFolder + notification.userPicture" 
              alt="User Profile Picture">
            <ng-template #noPicture>
              <img class="user-image" src="/assets/user_images/user_default.jpg" alt="Default User Image">
            </ng-template>
          </div>
          <div class="notification-content">
            <div class="notification-header">
              <span class="user-name">{{notification.userName}}</span>
              <div class="notification-actions">
                <span class="notification-time">{{notification.dateTime | date:'shortTime'}}</span>
               
              </div>
            </div>
            <p class="notification-message">{{notification.notification}}</p>
          </div>
        
        </div>
      </div>
    </div>

   

    <div class="dropdown user-dropdown" dropdown>
      <img class="img-fluid rounded-circle user-image" *ngIf="this.profilePicture; else noPicture" 
      [src]="thumbnailFolder + this.profilePicture" alt="User Profile Picture">
      <ng-template #noPicture>
        <img class="img-fluid rounded-circle user-image" src="/assets/user_images/user_default.jpg" alt="Default User Image">
      </ng-template>

      <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
        Welcome {{loggedInUser}}
      </a>

      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/property-dashboard" *ngIf="!isOnlyReader()">
          <mat-icon>home</mat-icon>
          <span>View Dashboard</span>
        </a>
        <a class="dropdown-item" routerLink="/user/profile">
          <mat-icon>account_circle</mat-icon>
          <span>My Profile</span>
        </a>
        <a class="dropdown-item" *ngIf="isAdmin()" routerLink="/property-stats">
          <mat-icon>bar_chart</mat-icon>
          <span>View Stats</span>
        </a>
        <a class="dropdown-item" routerLink="/user/messages">
          <mat-icon>message</mat-icon>
          <span>Messages</span>
        </a>
        <a class="dropdown-item" routerLink="/user/settings">
          <mat-icon>settings</mat-icon>
          <span>Account Settings</span>
        </a>
        <a class="dropdown-item" (click)="onLogout()" routerLink="/">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </a>
      </div>
    </div>

  </div>


  <ng-template #noNotifications>
    <div class="dropdown notification-dropdown" dropdown>
      <button mat-icon-button class="me-2"   aria-label="Notifications" dropdownToggle (click)="false">
        <mat-icon style="color: white;"  aria-hidden="false" >notifications</mat-icon>
      </button>
      <div class="dropdown-menu notification-menu"  style="height: 60px; overflow-y: unset;"  *dropdownMenu>
        <div class="dropdown-item">
          <strong>No New Notifications</strong>
        </div>
      </div>
    </div>  
  </ng-template>

  
 <ng-template #noAccount>
  <div class="user-bar"  style="margin-left: auto;">
      <ul class="nav navbar-nav">
        <li  class="nav-item">
          <a class="nav-link"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active"
          routerLink="user/register"
          >Register</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link"
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="active"
          routerLink="user/login"
          >Login</a>
        </li>
      </ul>
    </div>
 </ng-template>
    
 
    

  
  


</nav>