.user-dropdown {
  position: relative;
}

.user-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}




.dropdown-item {
  display: flex;
  padding: 10px 20px;
  font-size: 14px;
  color: #333;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item mat-icon {
  margin-right: 10px;
  font-size: 20px;
  color: #555;
}

.dropdown-item span {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.notification-dropdown >  button:hover{
  background-color: #555;
  justify-content: center;
  align-self: center;
  
}

.notification-dropdown .notification-menu {
  width: 400px;
  height: 300px;
  right: auto !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  overflow-y: auto;
}