<div class="row"> 
    <div class="shadow-lg col-sm-4 p-3">
        <div class="card d-flex p-3">
           <img class="propImg" src="assets/images/house_default2.png" style="object-fit: cover;">
           <div class="card-body p-2">
               <h1>{{Property.Name}}</h1>
               <h1>{{Property.Type}}</h1>
               <h2>{{Property.Price}}</h2>
           </div>
       </div>
   </div>    
   
   <div class="shadow-lg col-sm-4 p-3">
        <div class="card d-flex p-3">
            <img class="propImg" src="assets/images/house_default.png" style="object-fit: cover;">
            <div class="card-body p-2">
                <h1>{{Property.Name}}</h1>
                <h1>{{Property.Type}}</h1>
                <h2>{{Property.Price}}</h2>
            </div>
        </div>
    </div> 
</div>
