input[type = "text"]:focus , input[type = "password"]:focus{
    /*box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);*/
    border-color: rgba(0, 0, 0, 0.5);
  }

 
  .ng-invalid.ng-touched{
    border-color: red;
  }

  .error-block {
    color: red;
  }

.btn-group > label[ng-reflect-btn-radio]{
  border-radius: 5px;
  padding:0 15px;
  line-height: 30px;
}  

.card-header > h1, .card-header > h2, .card-header > h3 {
  color: white;
}

.card-header {
  height: 42px;
  padding: 4px 10px !important;
  background-color: #007bff !important;
}

.modal-header > h1, .modal-header > h2, .modal-header > h3, .modal-header > h4{
  color: white;
}

.modal-header > button{
  background-color: white;
}

.modal-body{
  max-height: 800px;
  overflow-y: auto;
  max-width: 500px;
}

.modal-header{
  background-color: #007bff !important;
}

.card-title{
  color: #0069d9;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: relative;
  width: fit-content;
  margin: 0 auto; 
}

.box-shadow-avatar{
  box-shadow: 0 0px 20px 0px #007bff;
}
.image-container {
  height: 200px;
  width: 200px;
  display: flex;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
}

.icon-wrapper{
  margin-top: -50px; 
  justify-content: center; 
  label {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  input[type='file'] {
      display: none;
  }
}



