input[type = "text"]:focus , input[type = "password"]:focus{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
  }

  .ng-invalid.ng-touched{
    border-color: red;
  }

  .error-block{
    color: red;
  }

.btn-group > label[ng-reflect-btn-radio]{
  border-radius: 44px;
  padding:0 15px;
  line-height: 30px;
}  

.card-header > h1, .card-header > h2, .card-header > h3 {
  color: white;
}

.card-header {
  height: 42px;
  padding: 4px 10px !important;
  background-color: #007bff !important;
}
