.file-input{
    display: none;
}

.img-thumbnail{
    width: auto;
    height: 120px;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    max-width: 120px;
}