.file-input{
    display: none;
}

.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img-thumbnail{
    width: auto;
    height: 120px;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    max-width: 120px;
}
  
  .d-flex {
    width: 100%;
    
    display: flex;
    justify-content: center;
  }
  
  .btn {
    margin: 5px 0;
  }
  