<div class="row">
  <div class="col-2 mb-3" *ngFor="let photo of property.photos; let i = index;">
    <img src="{{thumbnailsFolder + photo.fileName }}" alt="{{photo.fileName}}" class="img-thumbnail p-1">
    <div class="d-flex justify-content-center align-self-center" style="background-color: green;">
      <button class="btn btn-sm btn-danger" (click)="deletePhoto(property.id,photo)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <input type="file" class="file-input" accept="image/jpeg" (change)="onPhotoAdded($event)" #fileUpload multiple>

  <div class="file-upload">
    {{ fileCount > 0 ? fileCount + ' Files Uploaded' : 'No files uploaded yet.' }}
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>

  <mat-progress-bar class="progress-bar" mode="determinate" *ngIf="fileCount > 0" [value]="uploadProgress"></mat-progress-bar>
</div>
