<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/34be8a91-7303-4853-bd4d-34034b77474b/resourceGroups/MyFirstApp/providers/Microsoft.Web/sites/myfirstcsharpapi</ResourceId>
    <ResourceGroup>MyFirstApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://myfirstcsharpapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>09000300-e888-4d4e-b106-c61792527c2a</ProjectGuid>
    <PublishUrl>https://myfirstcsharpapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$myfirstcsharpapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>