<div class="card-body">
  <div class="btn-group d-flex mb-3" style="position: relative; margin-left: 75%;">
    <button class="btn btn-primary" (click)="openModal('editModal',editModal)">
      <i class="fa-solid fa-pen-nib"></i> Update
    </button>
    <button class="btn btn-danger" (click)="openModal('deleteModal',deleteModal)">
      <i class="fa-solid fa-trash"></i> Delete
    </button>
  </div>
</div>
<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img class="card-img-top" *ngIf="property.photo" src="{{originalFolder + property.photo}}">
        <img class="card-img-top" *ngIf="!property.photo" src="assets/images/house_default.jpg">
      </div>
      <div class="card-body" *ngIf="property">
        <h1 class="card-title">{{property.name}}</h1>
        <div>
          <strong>{{property.bhk}} BHK {{property.propertyType}} &#64; ${{property.price}}</strong>
        </div>
        <div>
          <strong> in {{property.city}}, {{property.country}}</strong>
        </div>
        <hr>
        
        <div>
          <strong>Build Area : </strong>
          {{property.builtArea}} Sqft
        </div>
        <div>
          <strong>Carpet Area : </strong>
          {{property.carpetArea}} Sqft
        </div>
        <div>
          <strong>Furnishing Type : </strong>
          {{property.furnishingType}}
        </div>
        <div>
          <strong>Available for : </strong>
          <span *ngIf="property.sellRent === 1">Purchase</span>
          <span *ngIf="property.sellRent === 2">Rent</span>  
        </div>

      </div>
      <div class="card-footer">
        
        <div class="btn-group d-flex">
          <button class="btn btn-primary"><i class="fa-regular fa-heart"></i> Like</button>
          <button class="btn btn-success"><i class="fa-regular fa-message"></i> Message</button>
        </div>

      </div>
      
    </div>
    
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <h1>Overview</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="heading">
                <strong>Project name</strong>
                <p>{{property.name}}</p>
              </div>

              <div class="heading">
                <strong>Floor Number</strong>
                <p>{{property.floorNo}} of {{property.totalFloors}}</p>
              </div>

              <div class="heading">
                <strong>Age Of Property</strong>
                <p>{{property.age}}</p>
              </div>

              <div class="heading">
                <strong>Posession</strong>
                <p>{{property.estPossessionOn | date}}</p>
              </div>

            </div>

            <div class="col-sm-6">
              <div class="heading">
                <strong>Main Entrance</strong>
                <p *ngIf="property.mainEntrance == 1">East</p>
                <p *ngIf="property.mainEntrance == 2">West</p>
                <p *ngIf="property.mainEntrance == 3">South</p>
                <p *ngIf="property.mainEntrance == 4">North</p>
              </div>

              <div class="heading">
                <strong>Gated Community</strong>

                <p *ngIf="property.gated">Yes</p>
                <p *ngIf="!property.gated">No</p>
              </div>

              <div class="heading">
                <strong>Security Deposit</strong>
                <p>{{property.security}}</p>
              </div>

              <div class="heading">
                <strong>Maintenance</strong>
                <p>{{property.maintenance}}</p>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="heading">
                <strong>About Property</strong>
                <p>{{property.description}}</p>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Landmark">
          <div class="col-sm-12">
            <h1>Landmark</h1>
            <strong>{{property.landMark}}</strong><br>
            
      
            <div class="heading">
              <h1>City</h1>
              <strong>{{property.city}}</strong>
            </div>

            <div class="heading">
              <h1>Country</h1>
              <strong>{{property.country}}</strong>
            </div>
          </div>
        </tab>
        <tab heading="Photos">
          <div class="text-center" *ngIf="galleryImages.length === 0">
              <strong>No Photos to Show</strong>
          </div>
          <gallery *ngIf="galleryImages.length > 0" [items]="galleryImages" class="gallery-container"></gallery>

        </tab>
        <tab heading="Upload/Edit Photos">
          <app-photo-editor [property]="property"  (mainPhotoChangedEvent)="onMainPhotoChanged($event)"></app-photo-editor>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Deleting Property</h4>
     <button type="button" class="btn btn-danger btn-sm" (click)="modalRef.hide()">
        <i class="fa-solid fa-x text-danger"></i>
     </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete this property ? <br>
    <strong>
      Cannot undo the change
    </strong> 
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-success" (click)="deleteProperty(propertyId)">Yes</button>
     <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>


<ng-template #editModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Editing Property</h4>
     <button type="button" class="btn btn-danger btn-sm" (click)="modalRef.hide()">
        <i class="fa-solid fa-x text-danger"></i>
     </button>
  </div>
  <form (submit)="onSubmit()" [formGroup]="editPropertyForm">
  <div class="modal-body">
    <div class="top-panel">
      <tabset class="member-tabset" #editFormTabs>
        <tab heading="BasicInfo" formGroupName="BasicInfo">

          <div class="form-group col-12 mt-3">
            <p class="mt-3">Purchase / Rent</p>

            <div class="btn-group" btnRadioGroup formControlName="sellRent">
              <label class="btn btn-outline-primary" btnRadio=1 tabindex=0 role="button"
                name="sellRent" (click)="
                this.propertyDetail.sellRent = 1;
                this.property.sellRent = 1;">Sell</label>
              <label class="btn btn-outline-primary mx-2" btnRadio=2 tabindex=0 role="button"
                name="sellRent" (click)="
                this.propertyDetail.sellRent = 2;
                this.property.sellRent = 2">Rent</label>
            </div>
          </div>
          
          <div class="form-group col-12 mt-3">
            <p class="mt-3">BHK</p>

            <div class="btn-group" btnRadioGroup formControlName="bhk"  name="bhk">
              <label *ngFor="let bhk of [1,2,3,4]" class="btn btn-outline-primary mx-2" [btnRadio]="bhk" 
                tabindex="0" role="button" name="BHK" (click)="
                this.propertyDetail.bhk = bhk;
                this.property.bhk = bhk">{{bhk}}</label>
            </div>
          </div>

          <div class="form-group col-12 mt-3">
            <p class="mt-3">Property Type</p>

            <div class="btn-group" btnRadioGroup formControlName="propertyType">
              <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary mx-2" 
              [btnRadio]="ptype.id"
                role="button" 
                name="sellRent"
                (click)="
                this.propertyDetail.propertyTypeId = ptype.id;
                this.propertyDetail.propertyType = ptype.name;
                this.property.propertyTypeId = ptype.id;
                this.property.propertyType = ptype.name;"
                >{{ptype.name}}</label>
            </div>
                  
          </div>

          <div class="form-group col-12 mt-3">
            <p class="mt-3">Furnishing Type</p>

            <div class="btn-group" btnRadioGroup formControlName="furnishingType">
              <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary mx-2" [btnRadio]="ftype.id"
                role="button" name="sellRent" 
                (click)="
                this.propertyDetail.furnishingTypeId = ftype.id;
                this.propertyDetail.furnishingType = ftype.name;
                this.property.furnishingTypeId = ftype.id;
                this.property.furnishingType = ftype.name;">{{ftype.name}}</label>
            </div>

          </div>

          <div class="form-group col-12 mt-3">
            <label for="name">In Bulding/Society/Project</label>
            <input type="text" class="form-control m-2" formControlName="name" #propName
              (ngModelChange)="
              this.propertyDetail.name = propName.value;
              this.property.name= propName.value">
            <div class="error-block" *ngIf="name.invalid && name.touched">
              You cannot leave name empty
            </div>

          </div>

          <div class="form-group col-12 mt-3">
            <label>City</label>
            <select #City
              (ngModelChange)="
              this.propertyDetail.city = City.options[City.options.selectedIndex].text;
              this.property.city= City.options[City.options.selectedIndex].text;
              this.propertyDetail.cityId = +City.value;
              this.property.cityId = +City.value;"
              class="form-control m-2"
              formControlName="city"
            >
            <option *ngFor="let city of cityList"
              value={{city.id}} >
              {{city.name}}
            </option>
            
            </select>
          </div>

          

        </tab>
        <tab heading="Pricing and Area" formGroupName="PriceInfo">

          <div class="form-group col-12 mt-3">
            <label *ngIf="this.property.sellRent === 1">Price (in USD)</label>
            <label *ngIf="this.property.sellRent === 2">Rent (in USD)</label>
            <input type="text" class="form-control m-2" formControlName="price" #propPrice
              (keyup)="
              this.propertyDetail.price = +propPrice.value;
              this.property.price= +propPrice.value">
            <div class="error-block" *ngIf="price.invalid && price.touched">
              You cannot leave Price empty
            </div>      
            <div class="error-block" *ngIf="priceIsNaN() && !price.invalid">
              Price not a number
            </div>
          </div>

          <div *ngIf="property.sellRent === 2">
            <div class="form-group col-12 mt-3">
              <label>Security (in USD)</label>
              <input type="text" class="form-control m-2" formControlName="security" #propSecurity
              (keyup)="
              this.propertyDetail.security = +propSecurity.value;
              this.property.security= +propSecurity.value">
              <div class="error-block" *ngIf="security.invalid && security.touched">
                You cannot leave Security empty
              </div>
              <div class="error-block" *ngIf="securityIsNaN() && !security.invalid">
                Security not a number
              </div> 
            </div>

            <div class="form-group col-12 mt-3">
              <label>Maintenance (in USD)</label>
              <input type="text" class="form-control m-2" formControlName="maintenance" #propMaintenance
              (keyup)="
              this.propertyDetail.maintenance = +propMaintenance.value;
              this.property.maintenance = +propMaintenance.value">
              <div class="error-block" *ngIf="maintenance.invalid && maintenance.touched">
                You cannot leave Maintenance empty
              </div>
              <div class="error-block" *ngIf="maintenanceIsNaN() && !maintenance.invalid">
                Maintenance not a number
              </div>
            </div>
          </div>
            
          <div class="form-group col-12 mt-3">
            <label>Built Area (in Sqr Feet)</label>
            <input type="text" class="form-control m-2" formControlName="builtArea" #propBuiltArea
                  (keyup)="
                  this.propertyDetail.builtArea = +propBuiltArea.value;
                  this.property.builtArea= +propBuiltArea.value;"
            >
            <div class="error-block" *ngIf="builtArea.invalid && builtArea.touched">
              You cannot leave Built Area empty
            </div>
            <div class="error-block" *ngIf="builtAreaIsNaN() && !builtArea.invalid">
              Built Area not a number
            </div>
          </div>


          <div class="form-group col-12 mt-3">
            <label>Carpet Area(in Sqr Feet)</label>
            <input type="text" class="form-control m-2" formControlName="carpetArea" #propCarpetArea
                  (keyup)="
                  this.propertyDetail.carpetArea = +propCarpetArea.value;
                  this.property.carpetArea = +propCarpetArea.value">
            <div class="error-block" *ngIf="carpetArea.invalid && carpetArea.touched">
              You cannot leave Carpet Area empty
            </div>
            <div class="error-block" *ngIf="carpetAreaIsNaN() && !carpetArea.invalid">
              Carpet Area not a number
            </div>                    
          </div>


        </tab>

        <tab heading="Address" formGroupName="AddressInfo">
          <div class="form-group col-12 mt-3">
            <label>Floor</label>
            <input type="text" class="form-control m-2" formControlName="floorNo" #propFloor
            (keyup)="
            this.propertyDetail.floorNo = propFloor.value;
            this.property.floorNo = propFloor.value">
            <div class="error-block" *ngIf="floorNo.invalid && floorNo.touched">
              You cannot leave Floor empty
            </div>
          </div>

          <div class="form-group col-12">
            <label>Total Floor</label>
            <input type="text" class="form-control m-2" formControlName="totalFloors" #propTotalFloor
            (keyup)="
            this.propertyDetail.totalFloors = propTotalFloor.value;
            this.property.totalFloors = propTotalFloor.value">
            <div class="error-block" *ngIf="totalFloors.invalid &&  totalFloors.touched">
              You cannot leave Total Floors empty
            </div>
          </div>

          <div class="form-group col-12 mt-3">
            <label>Landmark</label>
            <input type="text" class="form-control m-2" formControlName="landMark" #propLandMark
            (keyup)="
            this.propertyDetail.landMark = propLandMark.value;
            this.property.landMark = propLandMark.value">
            <div class="error-block" *ngIf="landMark.invalid &&  landMark.touched">
              You cannot leave landmark empty
            </div>
          </div>

          <div class="form-group col-12 mt-3">
            <label>Address</label>
            <input type="text" class="form-control m-2" formControlName="address" #propAddress
            (keyup)="
            this.propertyDetail.address = propAddress.value;
            this.property.address = propAddress.value;">
            <div class="error-block" *ngIf="address.invalid &&  address.touched">
              You cannot leave address empty
            </div>
          </div>

          <div class="form-group col-12 mt-3">
            <label>Phone Number</label>
            <input type="text" class="form-control m-2" formControlName="phoneNumber" #propPhoneNumber
            (keyup)="
            this.propertyDetail.phoneNumber = propPhoneNumber.value;
            this.property.phoneNumber = propPhoneNumber.value;">
            <div class="error-block" *ngIf="phoneNumber.invalid &&  phoneNumber.touched">
              Please insert a phone number
            </div>
          </div>

        </tab>

        <tab heading="Other Details" formGroupName="OtherInfo">

          <div class="form-group col-12 mt-3">
            <p class="mt-3">Ready To Move</p>
              <div class="btn-group" btnRadioGroup formControlName="readyToMove">
                <label class="btn btn-outline-primary mx-2" btnRadio="false" tabindex=0 role="button" 
                (click)="
                this.propertyDetail.readyToMove = false;
                this.property.readyToMove= false;" 
                name="readyToMove">No</label>

                <label class="btn btn-outline-primary" btnRadio="true" tabindex=0 role="button"
                (click)="
                this.property.readyToMove = true;
                this.property.readyToMove= true;" 
                name="readyToMove" >Yes</label>

              </div>
          </div>

          <div class="form-group col-12 mt-3">
            <label *ngIf="this.property.readyToMove">Enstablishment Date :</label>
            <label *ngIf="!this.property.readyToMove">Possesion Date : </label>
            <input type="text" placeholder="Datepicker" class="form-control" formControlName="estPossessionOn" 
              #PossessionOn
                  (ngModelChange)="
                  this.propertyDetail.estPossessionOn = PossessionOn.value;
                  this.property.estPossessionOn= PossessionOn.value"
                  bsDatepicker
                    [bsConfig]="{containerClass : 'theme-dark-blue', dateInputFormat : 'MMM DD, YYYY' }">
          </div>


          <div class="form-group col-12 mt-3">
            <p class="mt-3">Gated Community</p>

            <div class="btn-group" btnRadioGroup formControlName="gated">
              <label class="btn btn-outline-primary" btnRadio="true" tabindex=0 role="button" name="gated"
              (click)="
              this.propertyDetail.gated = true;
              this.property.gated = true">Yes</label>
              <label class="btn btn-outline-primary mx-2" btnRadio="false" tabindex=0 role="button"
                name="gated" (click)="
                this.propertyDetail.gated = false;
                this.property.gated = false">No</label>
            </div>
          </div>

          <div class="form-group col-12 mt-3">
            <p class="mt-3">Main Entrance</p>

            <div class="btn-group" btnRadioGroup formControlName="mainEntrance">
              <label class="btn btn-outline-primary" btnRadio=1 tabindex=0 role="button" (click)="
                this.propertyDetail.mainEntrance = 1;
                this.property.mainEntrance = 1;"
                name="Entrance">East</label>
              <label class="btn btn-outline-primary mx-2" btnRadio=2 tabindex=0 role="button"  (click)="
              this.propertyDetail.mainEntrance = 2;
              this.property.mainEntrance = 2;"
                name="Entrance">West</label>
              <label class="btn btn-outline-primary" btnRadio=3 tabindex=0 role="button"  (click)="
              this.propertyDetail.mainEntrance = 3;
              this.property.mainEntrance = 3;"
                name="Entrance">South</label>
              <label class="btn btn-outline-primary mx-2" btnRadio=4 tabindex=0 role="button"  (click)="
              this.propertyDetail.mainEntrance = 4;
              this.property.mainEntrance = 4;"
                name="Entrance">North</label>
            </div>
          </div>

          <div class="form-group col-12 mt-3">
            <label>Description</label>
            <textarea type="text" class="form-control m-2" formControlName="description" rows="6" #propDescription
            (keyup)="
            this.propertyDetail.description = propDescription.value;
            this.property.description = propDescription.value"
            ></textarea>
            <div class="error-block" *ngIf="description.invalid && description.touched">
              You cannot leave description empty
            </div>
          </div>

        </tab>

      </tabset>
    </div>
    
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-success">Save</button>
     <button type="button" class="btn btn-danger" (click)="modalRef.hide()">No</button>
  </div>
  </form>
</ng-template>




