<div class="container">
  <div class="chat-list mat-elevation-z5">
    <div class="search-input">
      <mat-form-field color="primary">
        <input
          matInput
          placeholder="Search for property owners and start a chat"
          [formControl]="searchControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
        
            <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user.username" (onSelectionChange)="onSuggestionSelected(user)">
              <img
                width="50"
                height="50"
                class="rounded-circle"
                *ngIf="!user.photo"
                src="/assets/user_images/user_default.jpg"
              />
              <img
                width="50"
                height="50"
                class="rounded-circle"
                *ngIf="user.photo"
                [src]="thumbnailFolder + user.photo"
              />
              {{ user.username }}
            </mat-option>
        
      
          
          <ng-template #noUsersFound>
            <mat-option disabled>
              No property owner found
            </mat-option>
          </ng-template>
        </mat-autocomplete>
      </mat-form-field>
      
      
    </div>

    <mat-selection-list [multiple]="false" [formControl]="chatListControl" class="chat-selection-list">
   
      <mat-list-option *ngFor="let chat of chats$ | async" class="chat-list-option" (click)="onOptionSelected(chat)">
        
        <div class="d-flex"  *ngIf="token.nameid !== chat.userID_first; else showSender">
          <img
            width="50"
            height="50"
            class="rounded-circle mat-elevation-z1 chat-avatar"
            matListItemAvatar
            [src]="chat.userPhoto_first ? thumbnailFolder + chat.userPhoto_first : '../../assets/user_images/user_default.jpg'"
          />
          <div class="chat-info">
            <div class="chat-header">
              <span class="chat-name">{{ chat.userName_first }}</span>
              <span class="chat-date">{{ chat.lastMessageDate }}</span>
            </div>
            <div class="chat-last-message">{{ chat.lastMessage }}</div>
          </div>
        </div>
        
        
        <ng-template #showSender>
          <div class="d-flex">
            <img
            width="50"
            height="50"
            class="rounded-circle mat-elevation-z1 chat-avatar"
            matListItemAvatar
            [src]="chat.userPhoto_other ? thumbnailFolder + chat.userPhoto_other : '../../assets/user_images/user_default.jpg'"
          />
          <div class="chat-info">
            <div class="chat-header">
              <span class="chat-name">{{ chat.userName_other }}</span>
              <span class="chat-date">{{ chat.lastMessageDate }}</span>
            </div>
            <div class="chat-last-message">{{ chat.lastMessage }}</div>
          </div>
          </div>
          
        </ng-template>
        
        
          
      </mat-list-option>
     
    </mat-selection-list>

  </div>
  <div class="messages mat-elevation-z5">
    <div class="messages-header" *ngIf="displayName ; else noMessages">
      <img  class="mat-elevation-z5" [src]=" displayPicture ? thumbnailFolder + displayPicture : '../../assets/user_images/user_default.jpg' ">
      <h2>{{displayName}}</h2>
    </div>
    <ng-template #noMessages>
      <div class="messages-header">
        <h2>Messages</h2>
      </div>
    </ng-template>
    <mat-divider></mat-divider>
    
    <div class="chat-area">
      <ng-container>
        <div *ngFor="let message of messages"  class="chat-bubble-container" [ngClass]="{ 'sender': message.senderId === store.authService.decodeToken()?.nameid }">
          <div class="chat-bubble">
            {{message.text}}
            <span class="chat-date" [ngClass]="{ 'sender': message.senderId === store.authService.decodeToken()?.nameid }">{{message.sentDate}}</span>
          </div>
        </div>
       
      </ng-container>
       <div #endOfChat></div> 
    </div>

    <div class="input-area">
      <mat-form-field appearance="outline">
        <input matInput [formControl]="messageControl" placeholder="Enter your message..." (keydown.enter)="sendMessage()"/>
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>


</div>
  


