<div class="container-fluid">
  <div class="chat-list mat-elevation-z5">
    <div class="search-input">
      <mat-form-field color="primary">
        <input matInput placeholder="Search for property owners and start a chat" 
        [formControl]="searchControl"
        
        />
      </mat-form-field>
      <!--mat-autocomplete-->
    </div>
    <mat-selection-list [multiple]="false" [formControl]="chatListControl" class="chat-selection-list">
      <mat-list-option  class="chat-list-option">
        <img
            width="50"
            height="50"
            class="rounded-circle mat-elevation-z1 chat-avatar"
            matListItemAvatar
            src="../../assets/user_images/user_default.jpg"
          />
          <div class="chat-info">
            <div class="chat-header">
              <span class="chat-name">John Baiat Bun</span>
              <span class="chat-date">20/02/24 12:20 PM</span>
            </div>
            <div class="chat-last-message">Hello Mami Que Guapa</div>
          </div>
          
      </mat-list-option>
      <mat-divider></mat-divider>
      <mat-list-option  class="chat-list-option">
        <img
            width="50"
            height="50"
            class="rounded-circle mat-elevation-z1 chat-avatar"
            matListItemAvatar
            src="../../assets/user_images/user_default.jpg"
          />
          <div class="chat-info">
            <div class="chat-header">
              <span class="chat-name">John Baiat Bun</span>
              <span class="chat-date">20/02/24 12:20 PM</span>
            </div>
            <div class="chat-last-message">Hello Mami Que Guapa</div>
          </div>
      </mat-list-option>
      <mat-divider></mat-divider>
    </mat-selection-list>
  </div>
  <div class="messages mat-elevation-z5">
    <div class="messages-header">
      <img  class="mat-elevation-z5" src="../../assets/user_images/user_default.jpg">
      <h2>John Baiat Bun</h2>
    </div>
    <mat-divider></mat-divider>
    <ng-template #noMessages>
      <div class="messages-header">
        <h2>Messages</h2>
      </div>
    </ng-template>
    <div class="chat-area">
      <!--Aici vine API-UL DIN FIREBASE CU MESAJELE (GET)-->
      <ng-container>
        <div  class="chat-bubble-container">
          <div class="chat-bubble">
            Hello Mami Que Guapa
            <span class="chat-date">20/02/24 12:20 PM</span>
          </div>
        </div>
        <div #endOfChat></div>
      </ng-container>
    </div>
    <div class="input-area">
      <mat-form-field appearance="outline">
        <input matInput [formControl]="messageControl" placeholder="Enter your message..." (keydown.enter)="sendMessage()"/>
        <button mat-icon-button matSuffix (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>



