
<div>
<input type="text" 
#autocompleteInput
placeholder="Filter by City, Type, Name"
(input)="keyPress($event)" autocomplete="off" >
<ul *ngIf="FilteredCityListOptions.length > 0" 
  class="dropdown"
  [class.show]="autocompleteInput.value !== ''"
  [style.width.px]="autocompleteInput.offsetWidth" 
  >
  <li class="dropdown-item" *ngFor="let option of FilteredCityListOptions" > 
    <button (click)="selectCity(option)">
      
      <span [innerHTML]="option.name | highlight:autocompleteInput.value"></span>,
      <span [innerHTML]="option.country | highlight:autocompleteInput.value"></span>
    </button>
  </li>
</ul>

</div>




<label>Filter Price & SqrArea : </label><br>

<label>Min :</label>
<select [(ngModel)]="min" (change)="onMinMaxChange()">
  <option *ngFor="let number of filterPriceAndAreaRange" [value]="number">
    {{number}}
  </option>
</select>

<label>Max : </label>
<select [(ngModel)]="max" (change)="onMinMaxChange()">
  <option *ngFor="let number of filterPriceAndAreaRange" [value]="number">
    {{number}}
  </option>
</select><br><br>

<label>Sort by &nbsp;</label>
<select [(ngModel)]="SortbyParam" (change)="onSortChange()">
  <option value="City">City</option>
  <option value="Price">Price</option>
  <option value="Price Per Area">Price Per Area</option>
</select>


<button type="button" (click)="onSortDirection()">
  <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
</button><br>
<button type="button" (click)="clearFilters()">Clear</button>
<br><br>

<!-- Ensure both paginators call the same page change method -->
<div class="d-flex justify-content-center" *ngIf="!isDashboard">
  <mat-paginator
                #paginator
                [length]="PropertiesLength"
                 [pageSize]="6"
                 showFirstLastButtons
                 hidePageSize="true"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div class="row" >
  
  <div *ngFor="let property of Properties"
    class="shadow-lg col-sm-4 p-3">
    <app-property-card [property_index]="property" ></app-property-card>
  </div>
</div>


