.autocomplete-input {
  width: 350px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='currentColor' stroke-width='32' d='M35.38 67.81C47.03 45.38 70.48 32 96 32h320c25.52 0 48.97 13.38 60.62 35.81 11.65 22.43 9.78 49.24-4.85 69.98L320 320.01V448c0 17.67-14.33 32-32 32-7.96 0-15.64-2.97-21.52-8.31l-64-58.18C195.33 407.22 192 398.85 192 390.13V320.01L40.23 137.79c-14.63-20.74-16.5-47.55-4.85-69.98z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 15px;
  padding-left: 35px; /* Space for the icon */
}

.dropdown {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 3;
  overflow-y: auto;
  max-height: 250px;
  
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.dropdown-item button {
  border: none;
  background: none;
  text-align: left;
  width: 100%;
}

.dropdown-item button:hover {
  text-decoration: underline;
}

.dropdown.show {
  display: block;
}


.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  /* background-color: green; */
  margin: 0px 770px auto;
}

.filters mat-slider{
  width: 225px;
}

