<div>
  <input type="text" 
  class="autocomplete-input form-control mb-2"
  #autocompleteInput
  placeholder="Filter by City"
  (input)="keyPress($event)" autocomplete="off">
  <ul *ngIf="FilteredCityListOptions.length > 0" 
    class="dropdown form-control"
    [class.show]="autocompleteInput.value !== ''"
    [style.width.px]="autocompleteInput.offsetWidth" 
    >
      <li class="dropdown-item" *ngFor="let option of FilteredCityListOptions" > 
        <button (click)="selectCity(option)">
          <span [innerHTML]="option.city | highlight:autocompleteInput.value"></span>,
          <span [innerHTML]="option.country | highlight:autocompleteInput.value"></span>
          <span> ({{option.sellRentCount}} properties)</span>
        </button>
      </li>
  </ul>
</div>

<mat-label>Filter SqrArea&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-label>




<mat-label>Min : </mat-label>
<mat-form-field  style="width: 75px;">
  <mat-select placeholder="{{min}}" [(ngModel)]="min" (selectionChange)="onMinMaxChange()">
    <mat-option *ngFor="let number of filterPriceAndAreaRange" [value]="number">
    {{number}}
    </mat-option>
  </mat-select>
</mat-form-field>


<label>Max : </label>
<mat-form-field style="width: 75px;">
  <mat-select placeholder="{{max}}" [(ngModel)]="max" (selectionChange)="onMinMaxChange()">
    <mat-option *ngFor="let number of filterPriceAndAreaRange" [value]="number">
    {{number}}
    </mat-option>
  </mat-select>
</mat-form-field><br>




<mat-form-field style="height: 25px;" appearance="outline">
  <mat-select placeholder="Sort by" [(ngModel)]="SortbyParam"  (selectionChange)="onSortChange()">
    <mat-option value="City">
      City
    </mat-option>
    <mat-option value="Price">
      Price
    </mat-option>
    <mat-option value="Price Per Area">
      Price Per Area
    </mat-option>
  </mat-select>
</mat-form-field>

<button type="button" style="height: 57px;" mat-raised-button (click)="onSortDirection()">
  <i *ngIf="SortDirection === 'asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="SortDirection === 'desc'" class="fas fa-sort-alpha-up"></i>
</button>
<button type="button" style="height: 57px;" mat-raised-button (click)="clearFilters()">Clear</button>
<br>

<div class="d-flex justify-content-left">
  <mat-paginator
                #paginator
                [length]="PropertiesLength"
                 [pageSize]="2"
                 showFirstLastButtons
                 hidePageSize="true"
                 (page)="onPageChange($event)">
  </mat-paginator>
</div>

<div class="row" *ngIf="Properties.length > 0">
  <div *ngFor="let property of Properties"
    class="shadow-lg col-sm-3 p-3">
    <app-property-card [property_index]="property" ></app-property-card>
  </div>
</div>

<div class="row" *ngIf="Properties.length > 0">
  <footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Load More...
    </div>
  </footer>
</div>

<div class="text-center" *ngIf="Properties.length === 0">
  <strong>No Properties To Show</strong>
</div>



